* {
	margin: 0;
	padding: 0;
    font-family: math;
}

.head {
	height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	border-bottom: 1px solid #c0c0c0;
}
.row-1{
	display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.row-2 {
	display: flex;
    width: 65%;
    margin-top: 10px;
    justify-content: space-between;
}
.row_navigate {
    margin: 0 12px;
    color: #606060;
    font-size: 14px;
}
.post_nav_row.post_nav_row_1 {
    color: #393939;
}
.post_nav_row.post_nav_row_2 h2{
	font-size: 14px;
    font-weight: 100;
    color: #838383;
}
.content_col.content_col_search {
	margin-top: 100px;
    text-align: center;
}
.container input[type="text"] {
    margin: 30px;
    padding-left: 31px;
    font-weight: 500;
    font-size: 20px;
    width: 542px;
    height: 55px;
    border-radius: 8px;
    border: 1px solid #a2a2a2;
}


.col-2 {
    max-height: 400px;
    overflow: hidden;
    padding: 20px 0;
}
.pre_content_popoup {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #bababa;
    width: 900px;
    padding: 12px 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.text_popup {
    font-size: 19px;
    margin: 0 22px;
    color: #6b6b6b;
}
.icons_cub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 900px;
    margin: 0 auto;
    padding: 55px 0 100px;
    border-bottom: 1px solid #bababa;
}
.icon_block {
    position: relative;
    border: 1px solid #bababa;
    margin: 0 22px;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon img {
    height: auto;
    width: 76px;
}
.icon_block span {
    position: absolute;
    bottom: -35px;
}

.icon_block span:hover {
    color: aqua;
}

.icon_block:hover >  span {
    color: aqua;
}

.icons_cub div.icon_block:last-child span:hover,
.icons_cub div.icon_block:first-child span:hover {
    color: red;
}
.icons_cub div.icon_block:last-child:hover >  span,
.icons_cub div.icon_block:first-child:hover >  span {
    color: red;
}